<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition - AllAbilities</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='topbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='exercise.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a class="active" href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{ url_for('exercise') }}">Exercise</a></li>
                    
                    {% if name == None %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    {% else %}
                    <li><a href="{{ url_for('settings') }}">{{name}}</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <h1 style="text-align: center;">AllAbilities - Nutrition</h1>

    <div id="messages">
        <div class="message person-message">
            {% for line in hum_msg.split('\n') %}
                <p>{{line}}</p>
            {% endfor %}
        </div>

        <div class="message ai-message">
            {% for line in ai_msg.split('\n') %}
                <p>{{line}}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>